@model Biblioteca_web.Models.LibroViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

@if (!string.IsNullOrEmpty(@ViewBag.message))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.message
    </div>
}

<h3 class="text-center">Cargar libro</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data" id="form-create-book">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="col-10 offset-1 mt-4">
            <input type="hidden" asp-for="Libro.UsuarioID" />
            <!--Titulo-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Libro.Titulo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Libro.Titulo" class="form-control" />
                    <span asp-validation-for="Libro.Titulo" class="text-danger"></span>
                </div>
            </div>
            <!--Genero-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Libro.GeneroId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.Libro.GeneroId, Model.ListGeneros, "Seleccione...", new { @class = "form-control" })
                </div>
            </div>
            <!--Libro-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Libro.Ruta"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="libro" id="libro" onchange="loadBook(libro)" class="form-control" accept="application/pdf" />
                    <span class="text-danger" id="error-size-file" style="display:none; text-align:center;">
                        El tamaño del archivo no puede ser mayor a
                    </span>
                </div>
            </div>
            <!--Autor-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Libro.Autor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Libro.Autor" class="form-control" />
                    <span asp-validation-for="Libro.Autor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_crearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <script type="text/javascript">
        function loadBook(prmLibro) {
            document.getElementById(prmLibro).value = document.getElementById(prmLibro).files.item(0).name;

            $("#error-size-file").css("display", "none");
            var sizeFile = document.getElementById(prmLibro).files[0].size;

            if (sizeFile > 15000000) {

                $("#error-size-file").css("display", "block");
                document.getElementById(prmLibro).value = "";
                var clon = document.getElementById(prmLibro).cloneNode(true);
                clon.value = "";
                document.getElementById(prmLibro).replaceWith(clon);
            } else {
                $("#error-size-file").css("display", "none");
            }
            
        }

        $(document).ready(function () {
            $("#form-create-book").submit(function () {
                var email = $("#usuarioLogin-email").val();
                if (email == null || email == undefined || email == "") {
                    $("#error-usuarioLogin-email").css("display", "block");
                    return false;
                } else {
                    $("#error-usuarioLogin-email").css("display", "none");
                    return true;
                }
            });
        });
    </script>

}

